<form class="Container">
    <div class=" row ">
        <div class="col s3 input-field ">
            <select class="browser-default">
                <option value="" disabled selected>Origen</option>
                <option value="CTG">Cartagena</option>
                <option value="PEI">Pereira</option>
                <option value="ADZ">San Andrés</option>
                <option value="SMR">Santa Marta</option>
                <option value="BOG">Bogotá</option>
                <option value="MZL">Manizales</option>
                <option value="EOH">Medellín</option>
            </select>
        </div>
        <div class="col s3 input-field">
            <select class="browser-default">
                <option value="CTG">Cartagena</option>
                <option value="PEI">Pereira</option>
                <option value="ADZ">San Andrés</option>
                <option value="SMR">Santa Marta</option>
                <option value="BOG">Bogotá</option>
                <option value="MZL">Manizales</option>
                <option value="EOH">Medellín</option>
                <option value="EOH">Medellín</option>
            </select>
        </div>
        <div class="col s3 input-field">
            <label for="birthdate" color="a">Ida</label>
            <div>
                <input type="text" class="datepicker">
            </div>
        </div>
        <div class="col s3 input-field">
            <label for="birthdate" class="a">Regreso</label>
            <div>
                <input type="text" class="datepicker">
            </div>
        </div>
        <div class="center">
            <button class="btn waves-effect waves-light" type="submit" name="action">
                Buscar Vuelos
                <i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</form>
<hr>
